$site-background: #ffffff;

$wizard-animation-duration: 0.2s;
$wizard-animation-style: ease-in-out;
$wizard-color-active: #5125db;
$wizard-color-inactive: #dbdbdb;
$wizard-row-height: 8px;
$wizard-tab-font: 20px;
$wizard-tab-point-out: 25px;
$wizard-tab-point-in: 13px;
$wizard-tab-text-width: 130px;
$wizard-tab-text-space-bottom: 40px;
